/*

*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 140%; /* 100% = 16px; 95% = 15px; 90% = 14px; 80% = 13px; 75% = 12px; */
  line-height: 1.4em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #000000; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #0000FF;
  text-decoration: none;
}

A:hover, A:active {
  color: #FF0000;
  text-decoration: none;
}

H1 {
  font-size: 1.2em;
}

ARTICLE {
  width: 90%;
  margin: 0 auto 2em;
}
